<div>
  usercontract works! <br>
  - Общий счет пользователя (сумарно по всем кошелькам) <br>
  - Профиль пользователя <br>
  ....... <br>
  Блок управления кошельками: <br>
  (кнопка добавить кошелек) <br>
  - Кол-во паев на кшельке 0х0001 (кнопка перевести) <br>
  - Кол-во паев на кшельке 0х0002 (кнопка перевести) <br>
  ....... <br>
  Биржа <br>
  (сделать предложение продажи)     |   (сделать предложение покупки) <br>
  Колонка 'продажа' (кнопка купить) |   Колонка 'покупка' (кнопка продать) <br>

  ....... <br>
  Статистика торгов <br>

  ....... <br>
  FAQ (Инструкции) <br>

</div>
